# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

# [作業目標]
- 仿造範例的資料操作, 試著進行指定的離群值處理

# [作業重點]
- 計算 AMT_ANNUITY 的分位點 (q0 - q100) (Hint : np.percentile, In[3])
- 將 AMT_ANNUITY 的 NaN 用中位數取代 (Hint : q50, In[4])
- 將 AMT_ANNUITY 數值轉換到 -1 ~ 1 之間 (Hint : 參考範例, In[5])
- 將 AMT_GOOD_PRICE 的 NaN 用眾數取代 (In[6])

In [161]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
dir_data = './data/'

In [162]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./data/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [191]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'Normalize_-1_1'],
      dtype='object', length=123)

## 1. 列出 AMT_ANNUITY 的 q0 - q100
## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間
## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

1. 列出 AMT_ANNUITY 的 q0 - q100

In [173]:
num = [i for i in range(0,101)]
quantile_100s = [np.percentile(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in num]
print(quantile_100s)

[1615.5, 6183.0, 6750.0, 7875.0, 8703.0, 9000.0, 9000.0, 9556.650000000003, 10125.0, 10503.0, 11074.5, 11430.0, 11970.0, 12375.0, 12838.5, 13302.0, 13500.0, 13500.0, 13896.0, 14350.5, 14701.5, 15124.5, 15583.5, 15970.5, 16209.0, 16524.0, 16852.5, 17113.5, 17487.0, 17806.5, 18189.0, 18643.5, 19102.5, 19417.5, 19836.0, 20151.0, 20421.0, 20853.0, 21186.0, 21609.0, 21870.0, 22018.5, 22342.5, 22527.0, 22972.5, 23346.0, 23719.5, 23931.0, 24259.5, 24588.0, 24903.0, 25240.5, 25537.5, 25960.5, 26217.0, 26316.0, 26640.0, 26860.5, 27189.0, 27558.0, 28062.0, 28480.5, 28917.0, 29340.0, 29827.799999999974, 30078.0, 30483.0, 30895.650000000052, 31275.0, 31630.5, 32004.0, 32458.5, 32895.0, 33376.5, 33984.0, 34596.0, 35343.0, 35806.5, 36328.5, 36747.0, 37516.5, 37948.5, 38556.0, 39456.0, 40131.0, 40806.0, 41841.0, 42790.5, 43735.5, 44991.0, 45954.0, 47254.5, 48465.0, 49878.0, 51745.5, 53325.0, 55624.5, 58480.65000000005, 62964.0, 70006.5, 258025.5]

2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補

In [165]:
app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY']

47531    NaN
50035    NaN
51594    NaN
55025    NaN
59934    NaN
75873    NaN
89343    NaN
123872   NaN
207186   NaN
227939   NaN
239329   NaN
241835   NaN
Name: AMT_ANNUITY, dtype: float64

In [166]:
q_50 = np.percentile(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = 50)
q_50

24903.0

In [167]:
app_train['AMT_ANNUITY'].describe()

count    307499.000000
mean      27108.573909
std       14493.737315
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64

In [174]:
app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY']  = q_50

In [177]:
app_train.loc[(47531,50035,51594,55025,59934,75873,89343,123872,207186,227939,239329,241835),'AMT_ANNUITY']

47531     24903.0
50035     24903.0
51594     24903.0
55025     24903.0
59934     24903.0
75873     24903.0
89343     24903.0
123872    24903.0
207186    24903.0
227939    24903.0
239329    24903.0
241835    24903.0
Name: AMT_ANNUITY, dtype: float64

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [179]:
value = app_train['AMT_ANNUITY'].values
value

array([24700.5, 35698.5,  6750. , ..., 29979. , 20205. , 49117.5])

In [186]:
# 2.2 Normalize values to -1 to 1
print("== Original data range ==")
print(app_train['AMT_ANNUITY'].describe())
value = app_train['AMT_ANNUITY'].values
app_train['Normalize_-1_1'] = 2*((value-np.max(value)/np.min(value))-0.5)
app_train['Normalize_-1_1']

== Original data range ==
count    307511.000000
mean      27108.487841
std       14493.461065
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64

0          49080.562674
1          71076.562674
2          13179.562674
3          59052.562674
4          43410.562674
5          54714.562674
6          82281.562674
7          83829.562674
8          67332.562674
9          40179.562674
10         42033.562674
11         21036.562674
12         11442.562674
13         57612.562674
14         65235.562674
15         39999.562674
16         51978.562674
17         26679.562674
18         15429.562674
19         34806.562674
20         42429.562674
21         74802.562674
22         64722.562674
23         47379.562674
24         25086.562674
25         21828.562674
26         53832.562674
27         47334.562674
28        115032.562674
29         17679.562674
              ...
307481     39630.562674
307482     69618.562674
307483     32637.562674
307484     70914.562674
307485     17679.562674
307486     36246.562674
307487     62625.562674
307488     26382.562674
307489     45858.562674
307490     17976.562674
307491     62724.562674
307492     86565.562674
307493     75036.562674
307494     93396.562674
307495     47226.562674
307496     33429.562674
307497     23736.562674
307498    104016.562674
307499     25068.562674
307500     71643.562674
307501     23421.562674
307502     20919.562674
307503     35220.562674
307504     31872.562674
307505     43779.562674
307506     54795.562674
307507     23682.562674
307508     59637.562674
307509     40089.562674
307510     97914.562674
Name: Normalize_-1_1, Length: 307511, dtype: float64

3 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [200]:
app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(),'AMT_GOODS_PRICE']

724      NaN
5937     NaN
6425     NaN
6703     NaN
7647     NaN
7880     NaN
7995     NaN
10819    NaN
11287    NaN
13008    NaN
14699    NaN
15953    NaN
18935    NaN
19178    NaN
19921    NaN
21193    NaN
21338    NaN
21546    NaN
25391    NaN
26398    NaN
26736    NaN
27003    NaN
28201    NaN
29059    NaN
30164    NaN
30294    NaN
32143    NaN
36250    NaN
36721    NaN
39230    NaN
          ..
278747   NaN
279583   NaN
279997   NaN
281050   NaN
281653   NaN
282002   NaN
282270   NaN
282847   NaN
283159   NaN
285269   NaN
287092   NaN
287347   NaN
289793   NaN
291372   NaN
291384   NaN
292040   NaN
292120   NaN
294136   NaN
295295   NaN
298004   NaN
300107   NaN
302923   NaN
303603   NaN
303621   NaN
304621   NaN
304678   NaN
304784   NaN
305833   NaN
306126   NaN
306273   NaN
Name: AMT_GOODS_PRICE, Length: 278, dtype: float64

In [323]:
# 計算眾數 (mode)
# 較快速的方式
from collections import defaultdict
from scipy.stats import mode
import time

start_time = time.time()
mode_dict = defaultdict(lambda:0)

for value in app_train[~app_train['AMT_GOODS_PRICE'].isnull()]['AMT_GOODS_PRICE']:
    mode_dict[value] += 1
    
mode_get = sorted(mode_dict.items(), key=lambda kv: kv[1], reverse=True)
print(mode_get[0])
print("Elapsed time: %.3f secs" % (time.time() - start_time))

(450000.0, 26300)
Elapsed time: 0.247 secs

In [326]:
AMT_GOODS_PRICE_mode = app_train['AMT_GOODS_PRICE'].value_counts()
AMT_GOODS_PRICE_mode_1 = 450000.0

450000.0

In [332]:
app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(),'AMT_GOODS_PRICE'] = AMT_GOODS_PRICE_mode_1

In [333]:
app_train.loc[(724,5937),'AMT_GOODS_PRICE']

724     450000.0
5937    450000.0
Name: AMT_GOODS_PRICE, dtype: float64